# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/U1/A7/U1A7_Powers/nbproject/private/
/U1/A7/U1A7_Powers/build/
/U2/A2/U2A2_SumElements/nbproject/private/
/U2/A2/U2A2_SumElements/build/
/U2/A3/MatchGame/build/
/U2/A3/MatchGame/dist/
/U2/A4/U2A4_StudentGrades/nbproject/private/
/U2/A4/U2A4_StudentGrades/build/
/U2/A5/U2A5_TicTacToe/nbproject/private/
/U2/A5/U2A5_TicTacToe/build/
/U2/A6/U2A6_Mario/nbproject/private/
/U2/A6/U2A6_Mario/dist/
/U2/A6/U2A6_Mario/build/
/U2/A6/U2A6_Mp3Inventory/nbproject/private/
/U2/A6/U2A6_Mp3Inventory/build/
/U2/A6/U2A6_Mp3Inventory/dist/
/U2/A7/U2A7_HockeyTeams/nbproject/private/
/U2/A7/U2A7_HockeyTeams/build/
/U2/AU/U2AU_CostCo/nbproject/private/
/U2/A7/U2A7_HockeyTeams/nbproject/private/
/U2/A7/U2A7_HockeyTeams/build/
/U3/A2/U3A2_Fibonacci/nbproject/private/
/U3/A2/U3A2_Fibonacci/build/
/U3/A3/U3A3_BookSearch/nbproject/private/
/U3/A3/U3A3_BookSearch/build/
/U3/A4/U3A4_SortingAlgorithms/nbproject/private/
/U3/A4/U3A4_SortingAlgorithms/build/
/U4/JulyFight/nbproject/private/
/U4/JulyFight/build/